{% extends 'base.html.twig' %}

{% block title %}analyse de la pratique{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>analyse de la pratique  :</h2>

                        <p>Les équipes des établissements de soins, médico-sociaux, sociaux, des associations ou de
                            certaines entreprises éprouvent parfois des difficultés, des perturbations au contact du public accueilli.  </p>

                        <p>La possibilité donnée aux professionnels d’une reprise en groupe des échanges entre les usagers
                            et eux-mêmes offre aux équipes un espace d’élaboration de leur pratique et facilite le maintien
                            d’un investissement, d’une capacité d’écoute et d’une évolution de la professionnalité.</p>

                        <p>Depuis de nombreuses années, je conduis des groupes d’analyse de la pratique auprès de différents
                            professionnels. Je me tiens à la disposition des équipes de direction pour analyser toute demande
                            d’intervention et évaluer ensemble la faisabilité d’un projet de mise en place de l’analyse
                            de la pratique au sein de leur structure. </p>
                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}