{% extends 'base.html.twig' %}

{% block title %}La consultation adolescente{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>La consultation adolescente   :</h2>

                        <p>A partir de 15 ans, l’adolescent est généralement rencontré seul, dans un premier temps,
                            puis avec ses parents, dans un second temps. A l’issue d’une série de 3 à 4 rencontres
                            sont formulées des propositions pouvant engager une période plus ou moins longue d’entretiens. </p>

                        <p>Quelques motifs de consultation fréquemment rencontrées sont : les conflits adolescents-parents,
                            les difficultés scolaires, l’anxiété, l’impulsivité, le manque de confiance en soi, les phobies,
                            l’anorexie-boulimie, les conduites addictives.</p>
                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}