{% extends 'base.html.twig' %}

{% block title %}La consultation enfant{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>La consultation enfant   :</h2>

                        <p>Au cours du premier entretien, je rencontre d’abord les parents et l’enfant ensemble,
                            puis généralement l’enfant seul, sans que cela soit systématique. L’objectif est de faire
                            connaissance, de créer un climat de confiance, de favoriser l’expression la plus spontanée
                            possible de l’enfant ainsi qu’une compréhension commune des difficultés actuelles. </p>

                        <p>En fonction de l’âge de l’enfant, je l’invite à utiliser certains supports tels que le dessin,
                            le jeu, le modelage dans le but de faciliter son expression, de construire une relation de
                            confiance et d’aboutir à une meilleure compréhension de la vie intérieure de l’enfant et de son imaginaire.</p>

                        <p>Au terme de 3 à 4 entretiens, une première synthèse a lieu en présence des parents et de l’enfant
                            centrée autour de la problématique actuelle de l’enfant. Une réflexion s’engage alors sur les
                            possibilités et les choix thérapeutiques concernant l’enfant ou sa famille.</p>

                        <p>Une thérapie de l’enfant, dans le cas où cette orientation est retenue, vise à donner
                            à l’enfant les moyens de mieux surmonter et tolérer ses conflits intérieurs.</p>

                        <p>Une autre orientation possible est celle des entretiens familiaux. Ce dispositif vise une
                            modification des modes d’interaction familiaux.</p>

                        <p>Parmi les difficultés les plus courantes, on trouve : les difficultés scolaires, l’instabilité,
                            l’agressivité, l’inhibition, l’énurésie, la dépression, les phobies, les troubles de l’attention,
                            de la concentration, de l’alimentation, du sommeil.</p>
                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}