{% extends 'base.html.twig' %}

{% block title %}La consultation adulte{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>La consultation adulte   :</h1>

                        <p>Le premier contact constitue un moment privilégié, il offre la possibilité de vous exprimer
                            librement sur les difficultés que vous rencontrez. C’est un temps de clarification de ce que vous éprouvez. </p>

                        <p>Les premières rencontres vous permettent le temps de vous faire comprendre le dispositif afin de pouvoir vous
                            engager de façon libre et éclairée dans une démarche qui ne peut être que personnelle.
                            Il est important que vous vous sentiez en confiance.</p>

                        <p>Au terme des premiers entretiens, nous faisons le point sur les difficultés que vous rencontrez et sur les
                            propositions d’aide ou d’orientation envisageables. Il peut s’agir de trouver un temps d’écoute
                            ponctuel ou bien encore de suivre une psychothérapie. </p>
                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}