{% extends 'base.html.twig' %}

{% block title %}Contact {% endblock %}

{% block body %}
    <div class="container" id="contact">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Devenir parent, c’est naître à de nouvelles questions :</h1>

                        <p>L’expérience de devenir père, de devenir mère ne va pas de soi. C’est une expérience
                            nouvelle qui va faire naître des questions à l’intérieur de chaque parent, différemment
                            suivant l’âge de l’enfant. </p>

                        <p>Ces questionnements peuvent être multiples, depuis la grossesse, la naissance, la
                            rencontre avec son enfant, la construction du lien avec son enfant petit,
                            plus grand …adolescent et adulte, jusqu’au départ des enfants.</p>

                        <p>Ces différentes étapes peuvent mobiliser chacun, chacune suivant ces étapes de vie.
                            Elles peuvent créer un réveil d’affect plus ou moins agréable, plus ou moins conscientisé
                            comme mobiliser la question des places au sein de la famille ou dans l’intergénérationnel
                            (c’est-à-dire de la place de chacun dans les différentes générations). </p>

                        <p>Dans tous les cas penser le lien ou repenser le lien à son (ses) enfant(s),
                            regarder tranquillement ce qui nous questionne dans la relation sera toujours bénéfique
                            tant au niveau de l’enfant, du parent que du lien parent-enfant. </p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}