{% extends 'base.html.twig' %}

{% block title %}Ce qui peut faire crise dans le couple {% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Qu’est-ce que la thérapie de couple ?</h1>

                        <p>Les raisons d’avoir une crise ou de se sentir en crise ne manquent pas :</p>

                        <p>Cela peut être ressenti comme venant de l’extérieur du couple comme un problème avec
                            les familles de l’un ou de l’autre, l’infidélité, le chômage vécu par un des partenaires,
                            les enfants de l’autre…</p>

                        <p>La crise peut venir de difficultés à l’intérieur du couple tel qu’un problème de communication,
                            un problème sexuel,  l’arrivée et l’éducation des enfants, l’argent, la violence, le départ
                            des enfants, la retraite… </p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}