{% extends 'base.html.twig' %}

{% block title %}La consultation adolescente{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>Modalités des consultations  :</h2>

                        <h3>Duréee :</h3>
                        <p>La consultation dure 45 minutes pour une séance individuelle.</p>
                        <p>La consultation dure une heure pour une séance en couple ou en famille.</p>

                        <h3>Fréquence :</h3>
                        <p>Elle dépend en grande partie du motif de la consultation. Dans certains cas,
                            quelques rencontres suffisent. Dans d’autres, un suivi à moyen ou plus long terme est
                            nécessaire. La première consultation permet de convenir ensemble du rythme des rencontres
                            en fonction de la demande.</p>

                        <h3>Honoraires :</h3>
                        <p>50 euros la consultation individuelle.</p>
                        <p>80 euros la consultation en couple ou en famille.</p>
                        <p>Le prix de la consultation peut être ajusté en fonction des possibilités financières.</p>

                        <h3>Règlement :</h3>
                        <p> Par chèque ou espèces à chaque consultation.</p>

                        <h3>Remboursement  :</h3>
                        <p> Les consultations d’un psychologue exerçant en cabinet ne sont pas remboursées par la
                            sécurité sociale. Les mutuelles et les assurances sont toutefois de plus en plus nombreuses
                            à proposer des contrats prenant en charge, pour tout ou partie de leur coût, un nombre
                            déterminé de séances. Si nécessaire une note d’honoraire peut vous être fournie pour chacune
                            de vos séances, afin d’effectuer vos remboursements.</p>

                        <h3>Annulation  :</h3>
                        <p> En cas d’empêchement, prévenir 48h à l’avance.</p>
                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}