{% extends 'base.html.twig' %}

{% block title %}Pourquoi consulter{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Pourquoi consulter ?</h1>

                        <p>Prendre rendez-vous chez un psychologue peut s’avérer une nécessité qui s’impose à soi : </p>

                        <p>Lorsqu’on sent que l’on a besoin d’un soutien psychologique à un moment        difficile
                            de son existence, lorsqu’on désire comprendre ce qui ne va pas.</p>

                        <p>Lorsqu’on éprouve un malaise, une gêne persistante, ou une émotion (tristesse, colère,
                            anxiété, violence…) ressentie à l’excès et qui se répète dans la durée. Lorsque cela
                            altère la qualité de nos relations avec les autres…</p>

                        <p>Lorsqu’on sent le besoin d’évoquer des choses douloureuses du passé, qu’on pressent que
                            cela nous empêche de vivre sereinement et qu’on désire les dépasser. </p>

                        <p>Lorsqu’on ne comprend pas certains scénarios, que l’on pressent (ou non) que quelque chose
                            se répète des générations passées ou d’une place que l’on ne voudrait pas (ou plus) dans un groupe…</p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}