{% extends 'base.html.twig' %}

{% block title %}Prendre un rendez-vous{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter" >
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Prendre un rendez-vous avec un psychologue, est-ce facile ?</h1>

                        <p>Non, et cela me semble important de le dire. C’est une décision qui n’est pas toujours facile.
                            On peut hésiter un peu, appréhender et d’un coup faire le premier pas. Entreprendre cette
                            démarche demande un certain courage. Car oser dire, regarder voire revivre sa vie émotionnelle
                            et relationnelle avec un professionnel ne va pas de soi. Cela implique un désir plus ou moins
                            conscient d’un changement.</p>

                        <p> Désirer consulter un psychologue suggère qu’il y a quelque chose dans notre vie qui nous encombre,
                            nous interroge voire qui nous fait mal. Un mal être peut-être diffus, inconscient ou conscient. </p>

                        <p>Entreprendre la démarche d’une psychothérapie suppose avant tout vouloir aborder et regarder
                            les problèmes personnels qui nous empêchent de « bien vivre ». Il s’agit d’analyser notre manière
                            d’être, de vivre, de ressentir les émotions, d’interagir avec notre entourage. C’est donc un chemin
                            personnel et exigeant au cours duquel le praticien psychologue propose un étayage et la redécouverte
                            du champ des possibles. Une psychothérapie permettra une meilleure connaissance de soi. </p>

                        <p>Néanmoins, il est important de savoir que la reprise de ce qui est difficile dans votre vie peut
                            s’élaborer avec le psychologue. Il  vous accompagne dans une attitude neutre et bienveillante.
                            On pourrait dire d’une manière imagée qu’il vous donne la main, vous prête son psychisme, ses
                            pensées pour vous permettre de comprendre et de donner du sens à ce que vous vivez. </p>

                        <p>Nombre de mes patients ont pu dire en cours de thérapie ou en fin de thérapie : « si j’avais su,
                            je serais venu(e) plus tôt ». Ce qui exprime bien le bénéfice de la thérapie, d’avoir fait cette
                            démarche, au lieu de laisser les choses stagner sans compréhension. </p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}