{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<div class="container" id="presentation">
    <section>
        <article>
            <!-- Content Row -->
            <div class="row">

                <!-- /.col-md-6 -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <h2>Formations :</h2>
                    <p><strong>Psychologue clinicienne</strong> diplômée de l’université Lumière Lyon 2.</p>
                    <p><span style="text-decoration: underline">Spécialité :</span> <strong>psychothérapie analytique de couple</strong>, de famille et de groupe diplômée de l’IPSYC (Institut Psychanalytique de Couple), Paris.</p>
                    <p>Conseillère conjugale et familiale diplômée de l’AFCCC (Association Française des Centres de Consultation Conjugale), Paris.</p>
                    <p>Membre de l’Institut Psychanalytique de Couple et membre du groupe de recherche.</p>
                    <p>Membre de l’AIPCF : Association Internationale Psychanalytique de Couple et de Famille </p>

                </div>

            </div> <!-- /.row -->

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="{{ asset('bundles/site/image/DSC_0243.JPG') }}" id="image1" alt="Elisabeth de Barbanson">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <img src="{{ asset('bundles/site/image/DSC_0253.JPG') }}" alt="cabinet psychologue" id="image2">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Activités :</h1>

                    <h2>Psychothérapie</h2>
                    <p>Je reçois en <strong>individuel</strong> (adultes, adolescents, enfants), en <strong>couple</strong> ou en <strong>consultation familiale</strong>. </p>
                    <p> Possibilité de consultations à domicile lorsqu’une personne a des difficultés de déplacement.</p>

                    <h2>Analyse de la pratique</h2>
                    <p>J’interviens dans des institutions (crèches, Mecs, RAM…) ou au cabinet.</p>

                    <h2>Supervision</h2>
                    <p>Supervision de conseillères conjugales et familiales dans mon cabinet ou sur leur lieu de travail.</p>

                    <h2>Formation</h2>
                    <p>Des modules de formation peuvent être créés en fonction de vos besoins. Quelques exemples de thème d’intervention : la relation d’aide, la gestion de crise, la gestion du stress…
                        Cours de psychologie dans les écoles d’infirmier(ères), d’aides soignants…</p>
                </div>        <!-- /.col-md-6 -->
            </div>

            <div class="row">


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Approches d'accompagnement :</h1>
                    <h2>L’approche psychanalytique  :</h2>

                    <p>Il me semble intéressant de redire l’étymologie grecque du mot psychanalyse, psuchos
                        analuein, qui signifie délier le souffle afin d’enlever certaines appréhensions.  </p>

                    <p>La psychanalyse est un moyen d’évoluer sur nos ressentis, nos émotions, notre monde
                        intérieur. Elle permet  de comprendre nos différents blocages face aux situations ou face aux autres.</p>

                    <p>La psychothérapie analytique invite à explorer son jardin secret et à y mettre du sens.
                        Cela passe par la parole, par les éprouvés où il est possible de tout dire, d’associer
                        librement, à son propre rythme. C’est une relation humaine structurée et structurante,
                        ouverte à tous et à chacun. Elle est respectueuse de la parole de la personne, de ses émotions,
                        de ses résistances inconscientes.</p>

                    <p>Le psychothérapeute analytique propose un accueil empathique et bienveillant.
                        Il ne juge pas, ne conseille pas, n’évalue pas : c’est l’éthique de la psychanalyse.
                        Son lieu d’exercice est un lieu strict de confidentialité.</p>

                    <p>Les formations de l’inconscient (symptômes, lapsus, actes manqués, transferts, etc…)
                        essaiment des graines qui prendront vie en se dénouant au fil des séances dans le
                        cadre d’un accompagnement rigoureux. Cela permet de faire éclore ses propres fruits,
                        de son arbre singulier, en son temps.</p>

                </div> <!-- /.row -->
            </div>

            <div class="row">
                <!-- /.col-md-6 -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>L’approche psychanalytique groupale :</h2>

                    <p>C’est une branche de la psychanalyse qui a été créée après la psychanalyse individuelle.
                        Développée à partir des années 60 en Argentine, en Angleterre et en France (avec Anzieu, Kaës…)
                        Elle est utilisée entre autre en psychothérapie analytique de couple. La psychanalyse de couple
                        vise l’analyse des productions et processus inconscients à l’œuvre dans les conflits conjugaux
                        et souffrances conjugales.  </p>

                    <p>Le thérapeute va permettre au couple un travail en profondeur afin de mieux comprendre
                        les causes de ses difficultés. Cela ouvre à des possibilités d’évolution, vers une meilleure
                        compréhension de soi et de l’autre, évitant ainsi la répétition des situations difficiles.</p>

                </div> <!-- /.row -->
            </div>

            <div class="row">
                <!-- /.col-md-6 -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>L’approche systémique :</h2>

                    <p>L’approche systémique suggère que les interactions entre les personnes peuvent être
                        comprises comme un « système ». C’est-à-dire que les personnes dépendent les unes des
                        autres, et que leurs échanges se font selon des règles implicites de communication
                        utilisées le plus souvent de manière inconsciente </p>

                    <p>Ainsi, les difficultés d’une personne signalent parfois une souffrance qui pourrait bien
                        être celle d’un système (familial, professionnel, social…)</p>

                    <p>Le principe de la thérapie systémique est d’envisager le symptôme comme révélateur de
                        relations dysfonctionnelles impliquant les autres membres du système (tels que parents,
                        conjoint, fratrie, collègues…). Son but est de décoder les interactions verbales et
                        émotionnelles et d’apporter une lecture différente.</p>

                </div> <!-- /.row -->
            </div>

            <div class="row">
                <!-- /.col-md-6 -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Enregistrement au répertoire ADELI à l’ARS :</h1>

                    <p>Je suis enregistrée au répertoire ADELI des professionnels de santé :
                        c’est un système d’information national sur les professionnels relevant de
                        la santé publique, du code de l’action sociale et des personnes autorisées à faire usage
                        du titre de psychologue et du titre de psychothérapeute. </p>

                    <p>Il contient des informations telles que l’état civil et les activités exercées des professionnels.</p>

                    <p>Je suis tenue dans l’exercice de ma profession au respect du code de Déontologie des
                        Psychologues dont en particulier le secret professionnel qui vous garantit confidentialité et anonymat.
                    </p>

                </div> <!-- /.row -->
            </div>
        </article>
    </section>
</div>
{% endblock %}