{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<div class="container">
    <section>
        <article>
            <!-- Content Row -->
            <div class="row">

                <!-- /.col-md-6 -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h1>Formations :</h1>
                    <p><strong>Psychologue clinicienne</strong> diplômée de l’université Lumière Lyon 2.</p>
                    <p><span style="text-decoration: underline">Spécialité :</span> <strong>psychothérapie analytique de couple</strong>, de famille et de groupe diplômée de l’IPSYC (Institut Psychanalytique de Couple), Paris.</p>
                    <p>Conseillère conjugale et familiale diplômée de l’AFCCC (Association Française des Centres de Consultation Conjugale), Paris.</p>
                    <p>Membre de l’Institut Psychanalytique de Couple et membre du groupe de recherche.</p>
                    <p>Membre de l’AIPCF : Association Internationale Psychanalytique de Couple et de Famille </p>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="{{ asset('bundles/site/image/DSC_0243.JPG') }}" alt="Elisabeth de Barbanson">
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="{{ asset('bundles/site/image/DSC_0253.JPG') }}" alt="local" id="image2">
                </div>

                <div class="col-md-6">
                    <h1>Activités :</h1>

                    <h2>Psychothérapie</h2>
                    <p>Je reçois en individuel (<strong>adultes</strong>, <strong>adolescents</strong>, <strong>enfants</strong>), en <strong>thérapie de couple</strong> ou en <strong>consultation familiale</strong>. </p>
                    <p> Possibilité de consultations à domicile lorsqu’une personne a des difficultés de déplacement.</p>

                    <h2>Analyse de la pratique</h2>
                    <p>Dans des institutions (crèches, Mecs, RAM…) ou au cabinet.</p>

                    <h2>Supervision</h2>
                    <p>Supervision de conseillères conjugales et familiales dans mon cabinet ou sur leur lieu de travail.</p>
                </div>        <!-- /.col-md-6 -->
            </div>
        </article>
    </section>

{% endblock %}