{% extends 'base.html.twig' %}

{% block title %}Quand consulter{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Quand consulter ?</h1>

                        <h2>En individuel :</h2>
                        <p>Lors de difficultés relationnelles. Ces difficultés peuvent être passagères ou récurrentes
                            et concerner tous les types de relation, en particulier les relations au sein du couple, de
                            la famille, avec ses enfants ou du milieu professionnel.</p>

                        <p>Lors de chocs émotionnels, de traumatismes : violence physique et/ou psychologique,
                            abus sexuel,  accident, maladie grave,  fausse couche, IVG, séparation, deuil, difficulté
                            professionnelle, évènement de vie, difficulté personnelle…</p>

                        <p>Lors de symptômes divers tels que : insomnie, angoisse, dépression, confusion, fatigue
                            chronique inexplicable, problème sexuel, maux de ventre… Ce qui nous affecte psychiquement
                            laisse parfois des traces à notre insu au niveau physiologique, on peut dire alors que le
                            corps « parle » à la place de la psyché. Ainsi un symptôme, s’il est chronique et ne
                            disparait pas avec un traitement classique, cache peut-être un mécanisme psychosomatique. </p>

                        <h2>En couple :</h2>

                        <p>Quand le couple ou quand l’une des personnes du couple se sent dans une impasse, quand le
                            couple vit trop de tensions et n’arrive plus à réfléchir par lui-même</p>

                        <p>Lors de répétitions de certains événements, d’incompréhension de ce qui se passe,
                            d’agacement, de tensions internes, de perte de confiance en l’autre.</p>

                        <p> Lorsque le lien de couple n’apporte plus de satisfactions suffisantes ou que cela semble
                            loin de ce que l’on attendait.</p>

                        <p>Lorsque le couple vit  de nombreuses disputes, des crises qui persistent, des problèmes
                            relationnels qui ne trouvent pas leur résolution. </p>

                        <p>Lors de difficultés de communication, de difficultés d’écoute de l’autre, de problème de
                            compréhension qui peuvent générer des frustrations, de l’agressivité voire de la violence,
                            des sentiments de solitude…</p>
                        <p>On peut venir aussi consulter pour comprendre une séparation ou un désir de séparation
                            c’est-à-dire pour clarifier ce qui motive l’autre ou soi-même à vouloir arrêter le lien. </p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}