{% extends 'base.html.twig' %}

{% block title %}Qu’est-ce que la thérapie de couple{% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Qu’est-ce que la thérapie de couple ?</h1>

                        <p>C’est une thérapie en couple avec un psychologue ayant suivi et validé une formation en
                            psychanalyse de couple et de groupe. La thérapie analytique de couple est venue après
                            les thérapies individuelles. Cette forme de thérapie a été créée dans les années 60 à
                            partir de la psychologie groupale.</p>

                        <p>La thérapie analytique de couple plus communément appelée thérapie de couple est un
                            espace offert au couple. Cela consiste à venir en couple parler, regarder tranquillement,
                            réfléchir sur son lien de couple, plus particulièrement sur les difficultés, sur ce qui
                            créé des souffrances, des incompréhensions,  des crises entre les conjoints. La thérapie
                            en couple permet de déposer ce qui est difficile et de travailler sur les obstacles qui
                            empêchent la relation de se développer.</p>

                        <p>Elle permet d’analyser le lien à son rythme, de laisser venir par analogie, par association
                            les émotions, les vécus,  les souvenirs du passé et leurs incidences dans le présent. Elle
                            permet de se rencontrer, de mieux rencontrer l’autre et de mieux comprendre les ressorts
                            du lien. L’inconscient y jouant un rôle important. </p>

                        <p>On peut aussi venir seul réfléchir sur son lien de couple car le couple existe dans la
                            parole de celui qui vient. Il sera en quelque sorte le porte-parole du couple. </p>

                        <p>La thérapie de couple s’adresse à tous, couples en concubinage, paxés, mariés,
                            hétérosexuels ou homosexuels, quel que soit l’âge et le nombre d’années vécues ensemble.</p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}