{% extends 'base.html.twig' %}

{% block title %}Ce qui peut faire crise dans le couple {% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>Traverser une crise : drame ou chance ?</h2>

                        <p>Le terme de crise peut faire peur car cela génère de l’inconfort voire de la souffrance.
                            Traverser une crise, c’est vivre une période de questionnement, se trouver dans une impasse,
                            être dans un moment de doute…ou encore connaître un échec qui nous fait nous interroger.
                            Cela se présente comme un chemin qui se termine ou qui n’avance plus, des certitudes qui
                            tombent…ce sont des choses qui peuvent arriver à toute personne au cours d’une vie, même
                            la plus réussie…</p>

                        <p>Nous vivons ces crises comme une expérience de rupture dans la continuité des choses,
                            ce n’est plus comme avant. L’expérience de la crise nous oblige à un arrêt, à une pause,
                            à une réflexion.</p>

                        <p>Si la crise vient défaire, dans un premier temps, nos constructions imaginaires sur le
                            couple, sur la vie, sur ce que nous sommes, elle nous appelle, en contrepartie, à une
                            renaissance, à une nouvelle conscience, à un réveil… </p>

                        <p>Si la crise est tempérée, elle va trouver sa propre régulation, sa propre résolution. </p>

                        <p>Par contre, lorsque celle-ci persiste, c’est-à-dire lorsque la crise ne trouve pas d’issue
                            satisfaisante, il peut être intéressant de faire appel à un tiers professionnel qui
                            aidera à la compréhension de ce qui se passe</p>

                        <p>La crise, après son dépassement, débouchera sur une relation
                            plus vivante et plus vraie.</p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}