<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Adresse :</h3>
                <p>91 cours Gambetta Lyon 3</p>

            </div>
            <!-- /.col-md-4 -->
            <div class="col-lg-4">
                <h3>tel</h3>
                <p>06 71 16 67 47</p>

            </div>
            <!-- /.col-md-4 -->
            <div class="col-lg-4">
                <h3>email</h3>
                <p>elisabethdebarbanson@gmail.com</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
    </div>
</footer>