<header>
    <div class="container">
        <span id="Elisabeth">Elisabeth</span>
        <span id="de_Barbanson">de Barbanson</span>

        <div class="coordonnee">
            <span id="telephone">06 71 16 67 47</span>
            <span id="adresse">91 Cours Gambetta, Lyon 69 003</span>
            <span id="adresse2">6 route de la Saigne 69 510 Messimy</span>
        </div>

        <img src="{{ asset('bundles/site/image/set5-header-original.jpg') }}" alt="header-image">
        {{ include('menu.html.twig') }}
    </div>
</header>

