<header>
    <div class="container">
        <span id="Elisabeth">Elisabeth</span>
        <span id="de_Barbanson">de Barbanson</span>
        <span id="psycho">Psychologue lyon</span>

        <div class="coordonnee">
            <span id="telephone">06 71 16 67 47</span>
            <span id="adresse">91 Cours Gambetta, Lyon 69 003</span>
            <span id="adresse2">Métro Garibaldi ligne D</span>


        </div>
    </div>
        <img src="{{ asset('bundles/site/image/backgroundHeader.jpg') }}" id="imageHeader" alt="header-image">
    <div class="container">
                {{ include('menu.html.twig') }}

    </div>

</header>

