.container{
    background-color: #AD885B;
    color: black; /* sinon pas noir */
    /*background-color: #2DC567 ;*!*/
}
body{
    /*background-color: #FF530D;*/
}

p{
    font-size: 18px;
}

/* header */
header .container{
    background-color: white;
    padding: 0px;
}

#Elisabeth{
    font-family:clarendon-w01-medium-692107,clarendon-w02-medium-693834,serif;
    font-size: 38px;
    color: #775151;
    font-weight:bold;
}
#de_Barbanson{
    font-size: 48px;
    font-family: jura,sans-serif;
    color: #775151;
}

#de_Barbanson, #Elisabeth{
    font-weight: bold;
}


.coordonnee{
    float:right;
    width: 250px;
}
.coordonnee span p{
    margin-left: 0px;
 font-size: 24px;
    font-weight: bold;
}

img{
    width: 100%;
}

h2{
    text-decoration: underline;
}
h3{
    font-weight: bolder;
}