{% extends 'base.html.twig' %}

{% block title %}L’approche systémique  {% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>L’approche systémique :</h1>

                        <p>L’approche systémique suggère que les interactions entre les personnes peuvent être
                            comprises comme un « système ». C’est-à-dire que les personnes dépendent les unes des
                            autres, et que leurs échanges se font selon des règles implicites de communication
                            utilisées le plus souvent de manière inconsciente </p>

                        <p>Ainsi, les difficultés d’une personne signalent parfois une souffrance qui pourrait bien
                            être celle d’un système (familial, professionnel, social…)</p>

                        <p>Le principe de la thérapie systémique est d’envisager le symptôme comme révélateur de
                            relations dysfonctionnelles impliquant les autres membres du système (tels que parents,
                            conjoint, fratrie, collègues…). Son but est de décoder les interactions verbales et
                            émotionnelles et d’apporter une lecture différente.</p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}