{% extends 'base.html.twig' %}

{% block title %}L’approche psychanalytique   {% endblock %}

{% block body %}
    <div class="container pourquoiQuandConsulter">
        <section>
            <article>
                <!-- Content Row -->
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>L’approche psychanalytique  :</h1>

                        <p>Il me semble intéressant de redire l’étymologie grecque du mot psychanalyse,
                            psuchos analuein, qui signifie délier le souffle afin d’enlever certaines appréhensions.  </p>

                        <p>La psychothérapie analytique invite à explorer son jardin secret et à y mettre du sens.
                            Cela passe par la parole, par les éprouvés où il est possible de tout dire, d’associer
                            librement, à son propre rythme. C’est une relation humaine structurée et structurante,
                            ouverte à tous et à chacun. Elle est respectueuse de la parole de la personne, de ses
                            émotions, de ses résistances inconscientes.</p>

                        <p>Le psychothérapeute analytique propose un accueil empathique et bienveillant.
                            Il ne juge pas, ne conseille pas, n’évalue pas : c’est l’éthique de la psychanalyse.
                            Son lieu d’exercice est un lieu strict de confidentialité.  </p>

                        <p>Les formations de l’inconscient (symptômes, lapsus, actes manqués, transferts, etc…)
                            essaiment des graines qui prendront vie en se dénouant au fil des séances dans le cadre
                            d’un accompagnement rigoureux. Cela permet de faire éclore ses propres fruits,
                            de son arbre singulier, en son temps.</p>

                    </div> <!-- /.row -->
                </div>
            </article>
        </section>
    </div>
{% endblock %}