/*general*/

.container{
    padding: 0px;
}
.container h1,.container h2,.container h3,.container h4{
    font-weight: bold;
}
.container h1{
    text-decoration: underline;
}
.therapie{ background-color: #f2c877}

.pourquoiQuandConsulter{ background-color: #f2ba75
}

#presentation{
    background-color: #F2D0A7;
}

.container section{
    margin: 0px 15px  0px 15px;
}

/*header */
header .container{
    background-color: #BF946F ;
}
.coordonnee{
    float: right;
    width: 450px;
}
#telephone,#adresse,#adresse2{
    float: right;
    font-weight: bold;
    margin-right: 15px;
}
#adresse,#adresse2{
    font-size: 24px;
}
#telephone{
    font-size: 38px;
}
#Elisabeth{
    font-size: 38px;
    margin-left: 15px;
    font-weight: bold;
}

#de_Barbanson{
    font-size: 48px;
    font-weight: bold;
    margin-left: 10px;
}

/*presentation*/

img{
    width: 100%;
}
 p{
 }
 #image2,#image1{margin-top: 20px;}

 /*contact*/
section .container #contact_Message{height: 132px;}

/*footer*/
footer .container{
    background-color: #C0AB98;
}